In [1]:
# https://www.kaggle.com/terminus7/pokemon-challenge

import pandas as pd
import numpy as np
import datetime

from IPython.display import display

## Load data

In [2]:
combats = pd.read_csv('combats.csv')
pokemon = pd.read_csv('pokemon.csv', index_col=0)

Комм.: index_col — какой из столбцов является ключем (например, номер строки)

In [3]:
# lets add dates to show some possibilities
startdate = datetime.datetime(2017, 1, 14)
random_dates = [startdate + datetime.timedelta(np.random.randint(1, 365))
                for _ in range(combats.shape[0])]
combats['date'] = random_dates

In [4]:
combats.dtypes

First_pokemon              int64
Second_pokemon             int64
Winner                     int64
date              datetime64[ns]
dtype: object

In [5]:
pokemon.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [6]:
combats.tail()

       First_pokemon  Second_pokemon  Winner       date
49995            707             126     707 2017-06-13
49996            589             664     589 2017-08-04
49997            303             368     368 2017-02-15
49998            109              89     109 2017-02-04
49999              9              73       9 2018-01-03

## DataFrame vs Series

In [7]:
# df
pokemon[['HP', 'Attack']].head()

   HP  Attack
#
1  45      49
2  60      62
3  80      82
4  80     100
5  39      52

In [8]:
# series
pokemon.HP.head() # or pokemon['HP'].head()

#
1    45
2    60
3    80
4    80
5    39
Name: HP, dtype: int64

In [9]:
# df
pokemon[['HP']].head()

   HP
#
1  45
2  60
3  80
4  80
5  39

## Basic statistics

In [ ]:
pokemon.describe()

In [ ]:
pokemon.mean() # median, std, quantile ...

In [ ]:
pokemon.HP.quantile(q=0.9)

In [ ]:
display(pokemon.isnull().head())
pokemon.isnull().sum()

In [ ]:
pokemon[pokemon.Name.isnull()]

## Access data

In [ ]:
display(pokemon.loc[1])
display(pokemon.iloc[0])

In [ ]:
display(pokemon.loc[1, 'Name'])
display(pokemon.iloc[0, 0])
display(pokemon.iloc[0]['Name'])
display(pokemon.iloc[0].Name)

## Select data

In [ ]:
pokemons_with_big_hp = pokemon.HP > pokemon.HP.quantile(q=0.9)

display(pokemons_with_big_hp.head())

display(pokemon[pokemons_with_big_hp].head())

In [ ]:
pokemons_with_big_hp_and_attack = (pokemon.HP > pokemon.HP.quantile(q=0.9)) & \
                                  (pokemon.Attack > pokemon.Attack.quantile(q=0.9))

display(pokemons_with_big_hp_and_attack.head())

display(pokemon[pokemons_with_big_hp_and_attack].head())

In [ ]:
pokemon.query('HP > 100 & Attack > 100').head()

## String data

In [ ]:
pokemon[pokemon.Name.isnull()]

In [ ]:
pokemon[pokemon.Name.str.endswith('aur', na=False)]

In [ ]:
# are pokemons with similar naming are similar

In [ ]:
pokemon.Name.str.slice(-3).value_counts().head(10)

In [ ]:
pokemon['name_ending'] = pokemon.Name.str.slice(-3)

In [ ]:
pokemon.Name.str.split().head()

In [ ]:
pokemon['n_words_name'] = pokemon.Name.str.split().str.len()

In [ ]:
pokemon.Name.str.split(expand=True).head()

In [ ]:
pokemon.Name.str.partition().head()

In [ ]:
pokemon.n_words_name.value_counts()

In [ ]:
pokemon[pokemon.n_words_name == 3].head(10)

## Custom functions

In [ ]:
pokemon[pokemon.Name.apply(lambda x: x.endswith('aur') if pd.notnull(x) else False)]

In [ ]:
#  actually maybe a bit better way is

def check_ending(word, postfix):
    if pd.isnull(word):
        return False
    return word.endswith(postfix)


pokemon[pokemon.Name.apply(lambda x: check_ending(x, 'aur'))]

In [ ]:
from functools import partial

check_ending_aur = partial(check_ending, postfix='aur')
pokemon[pokemon.Name.apply(check_ending_aur)]

In [ ]:
display((pokemon.HP + pokemon.Attack).head())

display(pokemon.apply(lambda x: x.HP + x.Attack, axis=1).head())

## Dates

In [ ]:
combats['month'] = combats.date.dt.month # week, our, dayofweek ... (look docs)
combats.head()

In [ ]:
current_date = pd.datetime.now()
combats['time_since_fight'] = current_date - combats.date
print(current_date)
combats.head()

In [ ]:
combats.dtypes

In [ ]:
combats.time_since_fight.dt.days.head()

In [ ]:
%%timeit
combats.time_since_fight.dt.days

In [ ]:
%%timeit
combats.time_since_fight.astype('timedelta64[D]')

# !!!!!!! much faster

## Sorting

In [ ]:
pokemon.sort_values(by=['Sp. Atk', 'Sp. Def'], ascending=False).head(10)

## Group By

In [ ]:
display(pokemon.groupby(['Type 1']).HP.mean())

display(pokemon.groupby(['Type 1'])['HP'].mean())

display(pokemon.groupby(['Type 1']).agg({'HP': 'mean'}))

display(pokemon.groupby(['Type 1']).agg({'HP': np.mean}))

In [ ]:
pokemon.groupby(['Type 1']).agg({'HP': 'mean'}).round(2).sort_values(by='HP')

In [ ]:
# useless
pokemon.groupby('Type 1').head(1)

In [ ]:
pokemon = pokemon.sort_values(by='Attack', ascending=False)
pokemon.groupby('Type 1').head(1)

In [ ]:
pokemon.groupby(['Type 1', 'Type 2']).agg({'HP': 'mean'}).round(2).sort_values(by='HP', ascending=False)

In [ ]:
agg_funcs = {
    'HP': 'mean',
    'Name': 'count',
    'Attack': ['min', 'max', 'median'],
    'Speed': ['std', lambda x: x.sum()],
    'Defense': lambda x: np.percentile(x, 90)
}

pokemon_stats = pokemon.groupby(['Type 1', 'Type 2']).agg(agg_funcs).round(2)

pokemon_stats.head()

## Index

In [ ]:
print(pokemon_stats.columns)
print(pokemon_stats.index[:5])

In [ ]:
pokemon_stats.sort_values(by=[('HP', 'mean')], ascending=False).head()

## Joins

In [ ]:
combats['Winner_first'] = combats.First_pokemon == combats.Winner
combats.head()

In [ ]:
pokemon['pokeindex'] = pokemon.index

In [ ]:
display(pokemon.pokeindex.describe())

display(combats.First_pokemon.describe())

In [ ]:
df = combats.merge(pokemon, left_on='First_pokemon', right_on='pokeindex')

In [ ]:
df = df.merge(pokemon, left_on='Second_pokemon', right_on='pokeindex', suffixes=('_1', '_2'))

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.groupby(['Type 1_1', 'Type 1_2']).agg({'Winner_first': ['mean', 'count']}
                                        ).sort_values(by=('Winner_first', 'mean'),
                                                      ascending=False)

## Concatenation

In [ ]:
sample = df[['Type 1_1', 'Type 1_2', 'Winner_first']].copy()

In [ ]:
sample_reverse = sample[['Type 1_2', 'Type 1_1', 'Winner_first']]
sample_reverse.columns = ['Type 1_1', 'Type 1_2', 'Winner_first']
sample_reverse['Winner_first'] = 1 - sample_reverse.Winner_first

In [ ]:
sample_symmetric = pd.concat([sample_reverse, sample], axis=0)

In [ ]:
sample_symmetric.groupby(['Type 1_1', 'Type 1_2']).agg({'Winner_first': ['mean', 'count']}
                                        ).sort_values(by=('Winner_first', 'mean'),
                                                      ascending=False)

## Pivoting

In [ ]:
pd.pivot_table(sample_symmetric,
               index='Type 1_1', 
               columns='Type 1_2',
               values='Winner_first',
               aggfunc='mean')

## Categorial data

### cut

In [ ]:
pokemon['HP_category'] = pd.cut(pokemon.HP, bins=5)
pokemon.head()

In [ ]:
pokemon.groupby('HP_category').Attack.mean()

### get dummies

In [ ]:
pokemon['Type 1'].value_counts()

In [ ]:
pokemon_type_cats = pd.get_dummies(pokemon, columns=['Type 1'], prefix='type')
pokemon_type_cats.head()

In [ ]:
gen_stats = pokemon_type_cats.groupby('Generation').agg({'type_Ghost': 'mean',
                                                         'type_Grass': 'mean',
                                                         'type_Ground': 'mean',
                                                         'type_Ice': 'mean',
                                                         'type_Psychic': 'mean',
                                                         'Name': 'count'}
                                                       )
gen_stats

## Numpy connection

In [ ]:
pokemon.values

## Saving

In [ ]:
gen_stats.to_csv('generation_stats.csv', index=False)